body {
    background-image: url("/assets/image/sealife.jpg");
}
.giftastic {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    color: rgb(247, 125, 44);
}

#myform{
    text-align: center;
    font-size: 45px;
    color: rgb(247, 44, 247);
}
.results{
    margin-left: 20px;
}

ul {
    list-style: none;
    
}
li {
    display: inline-block;
    
}

button:focus {outline:0;}

button{
    color: rgb(221, 247, 161);
    background-color: rgb(255, 0, 204);
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}

